* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DFF4FA;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #371337;
}

a {
    text-decoration: none;
}

/* component colors start*/
.text-base {
    color: #371337;
}

.text-primary {
    color: #01D7D7;
}

.text-danger {
    color: #E62E64;
}

.text-warning {
    color: #FFC564;
}

.text-white {
    color: white;
}

.bg-base {
    color: #371337;
}

.bg-white {
    background-color: white;
}

.bg-primary {
    background-color: #01D7D7;
}

.bg-warning {
    background-color: #FFC564;
}

.bg-danger {
    background-color: #E62E64;
}

.bg-form {
    background-color: #E0E0E0;
}
/* End text colors */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.align-self-flex-start {
    align-self: flex-start;
}

.align-content-center {
    align-content: center;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-between {
    align-content: space-between;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.divider {
    width: 100%;
}

.divider-line {
    width: 100%;
    height: 1px;
    margin: 30px 0px 30px 0px;
    background-color: grey;
}

.btn {
    display: flex;
    width: 130px;
    height: 40px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 5px 0px rgb(168, 168, 168);
    border-radius: 9px;
    transition: .3s ease;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 7px 10px 0px rgb(168, 168, 168);
}

.btn.disabled {
    box-shadow: none;
    background-color: rgb(168, 168, 168);
}

.btn.disabled:hover {
    transform: none;
    box-shadow: none;
}

.btn-round {
    border-radius: 25px;
    box-sizing: border-box;
}

.btn-large {
    width: max-content;
    height: 70px;
    padding: 0px 40px 0px 40px;
}

.btn-form {
    width: 650px;
    height: 78px;
}

.navbar {
    background-color: #dff4fae5;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.navbar.shadow {
    box-shadow: 1px 0px 4px 0px rgb(110, 110, 110);
}

.navbar .brand-logo {
    max-width: 50px;
    margin-right: 10px;
}

.navbar .brand-text {
    color: #371337;
    font-size: 38px;
    font-weight: 500;
}

.navbar ul {
    width: 40%;
    list-style: none;
}

.navbar ul a {
    color: #371337;
}

.navbar ul a:hover {
    border-bottom: 1px solid #371337;
}

.navbar ul a.btn:hover{
    border: none;
}

.navbar ul a.active {
    font-weight: 600;
    border-bottom: 3px solid #371337;
}

.section {
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.description {
    max-width: 800px;
}

.hero-picture img{
    max-width: 700px;
}

.feature-items {
    width: 600px;
    margin: 15px;
    margin-bottom: 80px;
}

.feature-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.feature-title {
    font-weight: 600;
}

.card {
    display: flex;
    background-color: white;
    margin: 50px;
    border-radius: 16px;
    box-shadow: 2px 4px 4px 0px rgb(110, 110, 110);
    box-sizing: border-box;
    overflow: hidden;
}

.card .card-cap {
    border-radius: 16px 16px 0px 0px;
    margin: 0px;
    overflow: hidden;
}

.card-body {
    padding: 35px;
}

.card .card-title {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 30px;
}

.card .card-content {
    font-size: 28px;

}

.card .card-text {
    margin-bottom: 10px;
}

.card .card-event {
    display: block;
    max-width: 250px;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(99, 99, 99);
    padding: 50px;
}

footer .footer-brand-logo {
    max-width: 50px;
    margin-right: 15px;
}

footer .footer-brand-text {
    font-size: 30px;
    font-weight: 600;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin: 15px;
}

.card .label-form {
    /* position: absolute; */
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}

.card .form-box {
    /* position: absolute; */
    width: 580px;
    height: 78px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    outline-style: none;
}

.card .form-box:hover{
    background-color: rgb(190, 190, 190);
}

#link-hover:hover{
    color: #371337;
}
.card .text-form {
    /* position: absolute; */
    font-size: 25px;
    font-weight: 200;
    padding-left: 30px;
    padding-right: 30px;
}

.seminar-cover {
    margin-right: 30px;
}

.seminar-description {
    width: 100%;
    padding: 30px;
    border-radius: 16px;
}

.seminar-description div {
    margin-bottom: 50px;
}

.seminar-description div p {
    margin: 20px 0px 20px 0px;
}

.seminar-description div ol {
    margin-left: 30px;
}

.seminar-description div ol li {
    margin: 10px 0px 10px 0px;
}

/* Modal */
.modal {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: .3s ease;
    overflow-y: auto;
}

.modal.open {
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.596);
    transition: .3s ease;
}

.modal .close-modal {
    position: absolute;
    right: 0;
    margin: 20px;
}

.modal .card {
    opacity: 0;
}

.modal .card.animate {
    animation: fade-in .3s ease .3s forwards;
}

.modal .form-control {
    margin-bottom: 15px;
}

.modal label {
    display: block;
    margin-bottom: 10px;
}

.modal .form-control input {
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    outline-style: none;
    box-sizing: border-box;
}

.modal .form-control .btn {
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
}
/* End Modal */

/* Animation */
@keyframes fade-in {
    from {
        transform: translateY(200px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}